* {
    font-size: 20px;
    line-height: 1.5;
    font-family:  "Times New Roman", Times, serif;
    background-color: #ffffff;
  }

.poem-wrap {
  margin: 7vh 20vw 10vh 35vw;
  padding: 10px 10px;
}

h1 {
  font-size: 25px;  
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 20px;  
  color: rgb(0, 0, 0);
}

p {
  margin: 5px 0px;
}

div {
  font-size: 12px;
}  